{% extends 'base.html.twig' %}

{# Include snippets and then alias their blocks so as to order them as needed #}
{% use ':snippets:stdassets.html.twig' with javascripts as stdjavascripts, stylesheets as stdstylesheets %}
{% use ':snippets:heroes/statslist.html.twig' with javascripts as hsljavascripts %}

{# Append to title #}
{% block title %}
: Hero Statistics
{% endblock %}

{# Inject dynamic content variables #}
{% block dynamicVariables %}
    {# Inject herodata array and make available to all javascript #}
    {# var herodata_imagepath = "{{ asset('', 'images')|raw }}"; #}
    {# var herodata_heroes = {{ herodata_heroes|json_encode|raw }}; #}
    var herodata_heroes_path = "{{ path('herodata_datatable_heroes_statslist')|raw }}";
{% endblock %}

{# Custom styling that require the use of path generation #}
{% block style %}
    {#.div,
    #heroes-statslist-toolbar {
        background-image: url('{{ asset("storm_temp_btn-upgrade-terran-neosteelframe.png", 'images') }}');
    }#}
{% endblock %}

{% block body %}
    {# Begin HTML #}
    <div class="container-fluid">
        {# Old top-tables, but the game doesnt have good roles like league does to make these viable
        <div class="row">
                <div class="col">
                    {% include ':snippets:heroes/top_role_winrates/table.html.twig' %}
                </div>
                <div class="col">
                    {% include ':snippets:heroes/top_role_playrates/table.html.twig' %}
                </div>
                <div class="col">
                    {% include ':snippets:heroes/top_role_banrates/table.html.twig' %}
                </div>
        </div>
        #}
        <div class="row">
            <div class="col">
                <div class="text-center">
                    {% include ':snippets:advertising/responsive_horizontal.html.twig' %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-xl-2"></div>
            <div class="col-sm-12 col-md-10 col-xl-8">
                <div class="text-center">
                    {% embed ':snippets:heroes/statslist.html.twig' %}
                        {% block javascripts %}{% endblock %}
                        {% block filter %}
                            <div>
                                <div class="d-inline-block">
                                    {% include ':snippets:heroes/filter/dropdown/multiselect/maps.html.twig' %}
                                </div>
                                <div class="d-inline-block">
                                    {% include ':snippets:heroes/filter/dropdown/multiselect/maps.html.twig' %}
                                </div>
                                <div class="d-inline-block">
                                    {% include ':snippets:heroes/filter/dropdown/multiselect/ranks.html.twig' %}
                                </div>
                                <div class="d-inline-block">
                                    {% include ':snippets:heroes/filter/dropdown/multiselect/maps.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}
                        {% block filterbutton %}
                            <button class="btn btn-sm filter-button">Filter</button>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
            <div class="col-md-1 col-xl-2">
                {% include ':snippets:advertising/responsive_vertical.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{# Stylesheets #}
{% block stylesheets %}
    {{ block('stdstylesheets') }}
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ block('stdjavascripts') }}
    {{ block('hsljavascripts') }}
{% endblock %}

