{% extends 'base.html.twig' %}

{# Include snippets and then alias their blocks so as to order them as needed #}
{% use ':snippets:stdassets.html.twig' with javascripts as stdjavascripts, stylesheets as stdstylesheets %}
{% use ':snippets:players/playerloader.html.twig' with javascripts as playerloaderjavascripts %}

{# Append to title #}
{% block title %}
: {{ player.name }}#{{ player.tag }}
{% endblock %}

{# Inject dynamic content variables #}
{% block dynamicVariables %}
    let player_id = {{ player.id }};
{% endblock %}

{# Custom styling that require the use of path generation #}
{% block style %}
{% endblock %}

{% block body %}
    {# Begin HTML #}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    {% include ':snippets:advertising/responsive_horizontal.html.twig' %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-sm-12 col-md-12 col-xl-8">
                {% embed ':snippets:players/playerloader.html.twig' %}
                    {% block javascripts %}{% endblock %}
                    {% block filter %}
                        <div>
                            {% include ':snippets:heroes/filter/dropdown/select/seasons.html.twig' %}
                            {% include ':snippets:heroes/filter/dropdown/multiselect/gameTypes.html.twig' %}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-xl-2">
                {% include ':snippets:advertising/responsive_vertical.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{# Stylesheets #}
{% block stylesheets %}
    {{ block('stdstylesheets') }}
{% endblock %}

{# Javascript #}
{% block javascripts %}
    {{ block('stdjavascripts') }}
    {{ block('playerloaderjavascripts') }}
{% endblock %}

{# Tail Javascript #}
{% block tailJavascript %}
    Hotstatus.advertising.internal.generateByDefault = false;
{% endblock %}

