{# Desktop Tab Index #}
<div class="player-tab-container d-none d-sm-block">
    <div class="player-tab {{ route == 'player' ? 'tabselected' }}"><a class="rm-sw-link" href="{{ path('player', {'region': player.region_raw, 'id': player.id}) }}">Summary</a></div>
    <div class="player-tab {{ route == 'playerheroes' ? 'tabselected' }}"><a class="rm-sw-link" href="{{ path('playerheroes', {'region': player.region_raw, 'id': player.id}) }}">Heroes</a></div>
    <div class="player-tab {{ route == 'playerhero' ? 'tabselected' }}"><a class="rm-sw-link" href="{{ path('playertalents', {'region': player.region_raw, 'id': player.id}) }}">Talents</a></div>
</div>
{# Mobile List Index #}
<div class="player-tablist-container d-block d-sm-none">
    <div class="player-tablist-item {{ route == 'player' ? 'tabselected' }}"><a class="rm-sw-link" href="{{ path('player', {'region': player.region_raw, 'id': player.id}) }}">Summary</a></div>
    <div class="player-tablist-item {{ route == 'playerheroes' ? 'tabselected' }}"><a class="rm-sw-link" href="{{ path('playerheroes', {'region': player.region_raw, 'id': player.id}) }}">Heroes</a></div>
    <div class="player-tablist-item {{ route == 'playerhero' ? 'tabselected' }}"><a class="rm-sw-link" href="{{ path('playertalents', {'region': player.region_raw, 'id': player.id}) }}">Talents</a></div>
</div>